html,
body,
.app-viewport {
  height: 100%;
  overflow: hidden;
}
.app-viewport {
  display: flex;
  flex-flow: column;
}
.main-toolbar {
  position: relative;
  z-index: 10;
}
.md-fab {
  margin: 0;
  position: absolute;
  bottom: -20px;
  left: 16px;
  z-index: 10;
  
  .md-icon {
    color: #fff;
  }
}
.md-title {
  padding-left: 8px;
  color: #fff;
}

.md-list-action .md-icon {
  color: rgba(#000, .26);
}
.md-avatar-icon .md-icon {
  color: #fff !important;
}
.md-sidenav .md-list-text-container > :nth-child(2) {
  color: rgba(#fff, .54);
}
.md-account-header {
  .md-list-item:hover .md-button:hover {
    background-color: inherit;
  }
  .md-avatar-list .md-list-item-container:hover {
    background: none !important;
  
  }
}
  .md-sidenav-content, .bgwhite{
    background-color: white !important;
  }

  .router-link-active{
    text-decoration: none;

  }