
.Listagem{
    .titulo{
        text-align: center;
        padding: 15px !important;
        margin: 0 ;
    }
    .btn-success{
        margin-top: 18px;
    }
    .botoes-top{
        text-align: right;
        margin: 0 10px 20px 0;
    }
}
